<div id="<%= dom_id friend %>">
  <p>
    <strong>Nombre:</strong>
    <%= friend.name %>
  </p>

  <p>
    <strong>Apellido:</strong>
    <%= friend.surname %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= friend.addres %>
  </p>

</div>
