<h1></h1>
<h1 class="text-center">Editar</h1>

<%= render 'form', friend: @friend %>



<h2 class="text-center">
<%= link_to friends_path do %> <button type="button" class="btn btn-outline-danger"> <i class="bi bi-skip-backward"></i> Atras</button> <% end %>

</h2>