<h1></h1>
<h1 class="text-center">Nuevo amigo</h1>

<%= render 'form', friend: @friend %>
<br>
<p class="text-center">
            <%= link_to friends_path do %> <button type="button" class="btn btn-outline-danger"> <i class="bi bi-skip-backward"></i> Atras</button> <% end %>


</p>
